@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
 
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  .caixa {
    background-image: url('assets/images/CadernoEmBranco3.svg');
    background-size: cover;
    padding: 35px;
    height: 500px;
    width: 500px;
  }

  button {
    margin: 10px;
    font-family: "Fredericka the Great", serif;
    border: none;
    background-color: transparent;
  }

  h2 {
    font-family: "Fredericka the Great", serif;
  }

  input {
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
  }
  
  li {
    font-family: "Fredericka the Great", serif;
    list-style: none;
    font-size: 20px;
    position: relative;
    bottom: 6px;
    margin: 7px;
  }

  .botaoRemover {
    color: #4C0000;
    font-family: "Fredericka the Great", serif;
    text-transform: uppercase;
  }

  .botaoRemover:hover {
    border-bottom: 2px #000 solid;
  }

  .botaoAdicionar:hover {
    border-bottom: 2px #000 solid;
  }